/******************-----PARAM GENERAL-----******************/

@import url(https://fonts.googleapis.com/css?family=Teko);

*, a{
	font-family: 'Teko', sans-serif;
	color:pink;
}
a:hover {
	color:pink;
}
body > nav > div > p > a:hover {
	color: pink;
}
html {
	font-size: 62.5%;
}
body {
	background:url(http://img11.hostingpics.net/pics/426370mainbackground.jpg)no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
h2, h3, h4, h5, p {
	text-align: center;
}
a:focus {
  color: pink;
}

/******************-----NAV-----******************/
.navbar-fixed-top { /*couleur du menu*/
    background-color: #222222;
    opacity: 0.6;
    border-bottom:1px solid pink;
}
	.navbar-fixed-top a {
		font-size: 4rem;
	   text-decoration: none;
		margin:0 1.5rem;
	}
/******************-----HEADER : JUMBOTRON-----******************/
#jumbotron {
	 line-height:100vh;
    vertical-align:middle;
    margin-bottom: 50rem;
}
	#jumbotron h1 {
		font-size: 6rem;
		margin-top:18%;
	}
	#jumbotron a {
		text-decoration: none;
	}
/******************-----SECTION : PORTFOLIO-----******************/
#portfolio {
	border-top: 1px solid pink;
	margin-top: 20rem;/*permet de bien coller avec le scroll*/
}
	#portfolio img{
		width: 40rem;
		height: 25rem;
		margin-top: 5rem;
	}
	#portfolio .row {
		text-align:center;
		margin-bottom: 10%;
		margin-top: 10rem;
	}
    #portfolio p {
        font-size:2rem;
        margin-top:0.5em;
    }
/******************-----SECTION : SKILLS-----******************/
#skills {
	border-top: 1px solid pink;
}
	#skills h2{
		font-size: 5rem;
		margin-top: 10rem;
	}
	#skills h3 {
		font-size: 4rem;
	}
	#skills h4 {
		font-size: 3rem;
	}
	#skills p {
		font-size: 3rem;
		margin-top: 5rem;
	}
	#skills .row img {
		width:7.5rem;
	}
	#skills .btn-lg {
		background-color: pink;
		border-color: pink;
		margin-top: -4rem;
	}
	#skills .btn-lg:hover{
		background-color: #222222;
		color:pink;
	}
	#skills .row:nth-child(1), .row:nth-child(2), #skills .row:nth-child(3) {/*centrage 2nd row*/
		margin-top: 10rem;
		margin-bottom: 10rem;	
	}
	#skills .rails {
		margin-top: 2.5rem;
	}
	#skills > div:nth-child(4) {
		margin-bottom: 10rem;
	}

	
/******************-----SECTION : CONTACT-----******************/
#contact {
	border-top: 1px solid pink;
	padding-bottom: 10rem;
}
	#contact .row {
		margin: 10% 2%;
		font-size: 7rem;
		text-align: center;
	}
	#contact h2 {
		margin-top: 17rem;
		font-size: 5rem;
	}
/*----FLIP TWITTER-----*/
.panel4, .flip4 {
    padding: 5px;
    text-align: center;
    color: #42BFD1;
}
.panel4 {
    display: none;
}
.flip4 {
   margin-top:-10px;
}
.fa-twitter:hover {/*permet d'avoir un pointeur sur l'incone twitter*/
  cursor: pointer;
  color: #5ea9dd;
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-linkedin:hover {
  color: #0177b5;
}
.fa-envelope-o:hover {
  color: #d94836;
}
.fa-github-alt:hover{
  color:black;
  text-shadow: -1px 1px 1px pink;
}
.fa-codepen:hover {
  color:white;
}
/******************-----SECTION : FOOTER-----******************/
.navbar-text {/*permet de centrer le te texte*/
  float:inherit;
}

/******************     ANIMATION LIEN MENU !!         ******************/
/* Wobble To Top Right */
@-webkit-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.hvr-wobble-to-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-to-top-right:hover, .hvr-wobble-to-top-right:focus, .hvr-wobble-to-top-right:active {
  -webkit-animation-name: hvr-wobble-to-top-right;
  animation-name: hvr-wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color:pink;
 }

/******************     ANIMATION lien objectif 3d         ******************/

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: pink;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/******************     RESPONSIVE        ******************/
@media (max-width: 768px) {
  #jumbotron h1 {
    margin-top: 30rem;
  }
  #contact h2 {
    margin-top: 15rem;
    margin-bottom: 15rem;
  }
  #contact .second_row {
    padding-top: 10rem;
  }
}

@media (max-width: 480px) {
  .navbar-fixed-top a {
    font-size: 3rem;
  }
  #jumbotron h1 {
    margin-top: 18rem;
  }
  #contact .row{
    font-size: 5rem;
    margin:inherit;
  }
  #contact h2 {
    margin-bottom: 10rem;
  }

}

@media (max-width: 320px) {
    .navbar-fixed-top a {
        font-size: 2.5rem;
        margin:0 0.5rem;
    }
    #jumbotron h1 {
        font-size: 4rem;
        margin-top:10rem; 
    }
    #skills h2 {
        font-size: 3rem;
    }
    #skills h3 {
        font-size: 2.5rem;
    }
    #skills h3 {
        font-size: 2.1rem;
    }
    #skills h4 {
        font-size: 1.8rem;
    }    
    #skills p {
        font-size: 1.8rem;
    }
    #contact h2 {
        margin-top: 8rem;
    }
}

