/******************-----PARAM GENERAL-----******************/

@import url(https://fonts.googleapis.com/css?family=Teko);

*, a{
	font-family: 'Teko', sans-serif;
	color:pink;
	text-shadow: 5px 5px 10px #222222;
}
html {
	font-size: 62.5%;
}
body {
	background:url(http://i.imgur.com/l7JtSpk.jpg)no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
h2, p {
	text-align: center;
}
.navbar-text {/*permet le centrage du footer*/
  float:inherit;
}
/******************-----JUMBOTRON-----******************/
.jumbotron {
	text-align:center;
	text-transform: uppercase;
	font-size: 5rem;
	color:pink;
	background-color: transparent;
}
/******************-----LESSON  CAROUSEL-----******************/
.carousel { /*empeche la fleche du bas de bouger*/
	height: 450px;
}
.carousel-content {
	border: 1px solid pink;
	border-radius:20px;
}
	.carousel-content h2 {
		background-color: #222222;
		font-size: 3.5rem;
	}
	.carousel-content ul {
		background-color: #222222;
		border-radius: 0 0 10px 10px;
		font-size: 2rem;
	}
	.fa-arrow-left {/*custom de la fleche du bas*/
		font-size: 3rem;
		margin-bottom: 4rem;
	}

/*************************RESPONSIVE*************************/
@media (max-width: 320px) {
	.carousel-content h2 {
		font-size: 2rem;
	}
	.carousel-content ul {
		font-size: 1.5rem;
	}
	.carousel-content ul li {
		margin-left: -2.2rem;
	}

}

